on: 
  schedule:
      - cron: '0 0 * * 1'
  push:
    branches: 
      - master
  pull_request:

name: Continuous integration

jobs:
  check:
    name: Check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        rust: [stable]
    steps:
      - uses: actions/checkout@v4

      - name: Windows: enable git longpaths
        if: runner.os == 'Windows'
        shell: powershell
        run: |
          git config --system core.longpaths true
          
      - uses: dtolnay/rust-toolchain@stable

      # Linux: check with examples
      - name: cargo check (linux, with examples)
        if: runner.os == 'Linux'
        run: cargo check --examples

      # Windows: check without examples
      - name: cargo check (windows, no examples)
        if: runner.os == 'Windows'
        run: cargo check

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
  
  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Typos check with custom config file
        uses: crate-ci/typos@master
        with:
          config: .typos.toml